*{
    font-family: Helvetica, sans-serif;
}
html,body{
    width: 100%;
    text-align: center;
}
h1,p{
    width: 100%;
    margin: 0;
}
#content{
    width: 500px;
    text-align: left;
    display: inline-block;
    margin: 0 auto;
    clear: both;
}
img{
    clear: both; 
    margin: 10px 0 10px 0;
}
#links{
    text-align: center;
    clear: both;
}

